$light-gray: #f7f7f7;
$gray: #ececec;
$light-pink: #dacace;
$pink: #d07285;
$dark-pink: #c75260;
$dark-blue: #202565;
$light-yellow: #ffffaf;
$yellow: #fffe7d;

$link: #7d8fe8;
$label: #626262;
$legal: #ccc;
$hr: rgba(154,154,154,.35);
$annotation: #99a7ee;
