html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: $light-gray;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

a {
  color: $link;
}

button {
  border-radius: 0;
}

label {
  display: block;
}

input[type="text"], input[type="password"], input[type="date"], textarea, select {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
}

.label {
  color: $label;
}

.submit-btn {
  height: 41px;
  box-sizing: border-box;
  padding: 10px;
  background-color: $yellow;
  cursor: pointer;
  outline: none;
  font-weight: 700;

  &:hover {
    background-color: $button;
  }
}

.demo-btn {
  background-color: $green;
}

.input-container {
  margin-top: 20px;
}

.submit-container {
  margin-top: 60px;
}

.hr {
  border-color: $hr;
}
