html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: $light-gray;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

a {
  color: $link;
}

button {
  border-radius: 0;
}

label {
  display: block;
}

.label {
  color: $label;
}

.submit-btn {
  height: 41px;
  box-sizing: border-box;
  padding: 10px;
  background-color: $yellow;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $light-yellow;
  }
}
