.annotation-container {
  position: relative;
  padding: 1rem 0 0 1rem;
  line-height: 1.5;
  white-space: pre-line;

  &:before {
    background-color: $annotation;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 1rem;
    width: 4px;
  }

  .arrow-container {
    position: absolute;
    left: -37px;
    top: 70px;
  }

  .outer-arrow {
    width: 41px;
    height: 40px;
    background-color: $annotation;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 50% 50%, 100% 100%);
  }

  .inner-arrow {
    width: 32px;
    height: 30px;
    background-color: white;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .annotation-heading {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .comments-container {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .comment-form-container {
    display: block;

    input {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
