.form-container {
  width: 700px;
  margin: 40px auto 40px;
  padding: 40px;
  color: white;
  background-color: black;
  position: relative;

  .required {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  label {
    color: $label;
    font-size: 14px;
    margin-bottom: 4px;
  }
}
