.modal {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
  outline: none;

  .session-form-container {
    margin: 0;
    border: 1px solid $hr;
    width: 500px;
  }

  .close-btn {
    cursor: pointer;
    position: relative;
    top: -20px;
    left: 226px;
  }
}
