.modal {
  outline: none;
  display: flex;
  justify-content: center;

  .session-form-container {
    margin: 60px 0 0 0;
    color: black;
    background-color: $light-gray;
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 60px;
    color: $light-gray;
  }
}
