.session-form-container {
  height: 500px;
  width: 450px;
  padding: 40px;
  margin: 60px auto;
  color: white;
  background-color: black;
}

.input-container {
  margin-top: 20px;
}

input {
  margin-left: 20px;
}
