.stories-show {
  height: 350px;
  padding-top: 20px;

  .story-container {
    position: relative;
    height: 290px;
    overflow: hidden;
  }

  .story-link {
    display: block;
    height: 290px;

    &:hover {
      .story-img {
        filter: brightness(1);
        transition: filter 0.5s;
      }
    }
  }

  .story-img {
    width: 100%;
    filter: brightness(0.5);
    transition: filter 0.5s;
  }

  .story-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  .story-container-small {
    position: relative;
    height: 130px;
    overflow: hidden;

    .story-link {
      height: 130px;
    }

    .story-title {
      font-size: 24px;
      width: 80%;
    }
  }

  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
  }
}
