.track-show {
  a {
    text-decoration: none;
  }

  .track-header {
    padding: 20px 0;
    background-color: black;
    background-size: cover;
    background-position: center;
  }

  .track-art {
    width: 220px;
    height: 220px;
    margin-left: -30px;
  }

  .track-info {
    padding-top: 20px;
  }

  .track-title {
    color: $yellow;
    line-height: 1.125;
  }

  .track-artist {
    line-height: 1.45;

    a {
      color: white;
    }
  }

  .track-album {
    line-height: 1.45;
  }

  .container {
    background-color: white;
    padding-top: 10px;
  }

  .lyric-line {
    font-size: 18px;
    line-height: 1.8;
    padding: 4px 0;
    margin-bottom: 4px;

    &:hover {
      background-color: $yellow;
    }
  }

  .genre {
    text-transform: capitalize;
  }
}
