.track-list {
  width: 90%;
  margin: 0 auto 40px;
  border-top: 2px solid black;

  .track-item {
    cursor: pointer;
    border-bottom: 1px solid $hr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;

    &:hover {
      background-color: $gray;
    }
  }
}
