.track-show {
  a {
    text-decoration: none;
  }

  .track-header {
    padding: 20px 5vw;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
  }

  .track-art {
    width: 220px;
    height: 220px;
  }

  .track-info {
    padding-top: 20px;
    margin-left: 20px;
  }

  .track-title {
    color: $yellow;
    line-height: 1.125;
  }

  .track-artist {
    line-height: 1.45;

    a {
      color: white;
    }
  }

  .track-album {
    line-height: 1.45;
  }

  .container {
    background-color: white;
    padding-top: 10px;
  }

  .lyrics {
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 20px;
    min-height: 200px;
  }

  .annotation-line {
    background-color: $gray;
    color: black;

    &:hover {
      background-color: $yellow;
    }
  }

  .genre {
    text-transform: capitalize;
  }
}
