.track-list {
  width: 500px;
  margin: 40px auto 0;
}

.track-item {
  cursor: pointer;
  border: 1px solid black;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;

  &:last-child {
    border-bottom: 1px solid black;
  }

  &:hover {
    background-color: $gray;
  }
}
