.track-show {
  a {
    text-decoration: none;
  }

  .container {
    background-color: white;
    padding-top: 10px;
  }

  .lyrics {
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 20px;
    min-height: 200px;
  }

  .annotation-line {
    background-color: $gray;
    color: black;

    &:hover {
      background-color: $yellow;
    }
  }

  .genre {
    text-transform: capitalize;
  }
}
